$sprites: (
  {{#shapes}}
    "{{name}}": (
      position: {{position.relative.xy}},
      width: {{width.outer}}px,
      height: {{height.outer}}px
    ){{^last}},{{/last}}
  {{/shapes}}
);

@mixin getSvg ($svgName) {
  background: url("/{{{sprite}}}") no-repeat;
  $prop: map-get($sprites, $svgName);
  background-position: map-get($prop, "position");
  width: map-get($prop, "width");
  height: map-get($prop, "height");
}