extends ../pageTemplates/main.pug

block variables
  - var title = 'Теремок';
  - var faviconUrl = '';

block content
  section.sec-first
    video(preload="auto", autoplay="autoplay", muted="muted", loop="loop").sec-first__video
      source(src="/video/teremok_final.mp4", type="video/mp4")
    div.sec-first__content
      div.sec-first__title
        h1
          | «Теремок»
        p
          span это
        p
          | не фастфуд!
      p.sec-first__text
        | Мы придерживаемся современного улучшенного подхода  к быстрому питанию, в котором отменный вкус сочетается  с
        | высокой скоростью обслуживания
      a(href="#secondScreen").sec-first__scroll-down
    a(id="secondScreen").sec-first__end
  div.page__d-row
    section.sec-food-menu
      div.sec-food-menu__header
        h2.sec-food-menu__title
          | Наше меню
        a(href="").page__d-desctop.button
          span Купоны
          span Купоны
      div.sec-food-menu__container



      div.page__d-mobile.sec-food-menu__link-block
        a(href="").button
          span Купоны
          span Купоны
        a(href="").button
          span Все меню
          span Все меню


      div.page__d-mobile.quality-feedback
        div.quality-feedback__wrapper
          div.quality-feedback__img
          div.quality-feedback__content
            p.quality-feedback__text
              | Помогите нам сделать наши теремки лучше!  Заходите на форум, и оставляйте ваши отзывы и пожелани
            a(href="").button.button--yellow
              span Оставить отзыв
              span Оставить отзыв
      div.sec-food-menu__banners



    div.sec-news
      div.page__d-desctop.quality-feedback
        div.quality-feedback__wrapper
          div.quality-feedback__img
          div.quality-feedback__content
            p.quality-feedback__text
              | Помогите нам сделать наши теремки лучше!  Заходите на форум, и оставляйте ваши отзывы и пожелани
            a(href="").button.button--yellow
              span Оставить отзыв
              span Оставить отзыв
      ul.sec-news__news-list
        li.sec-news__news-item
          article
            a(href="").sec-news__news-topic
              | Новости
            h3.sec-news__news-title
              a(href="") Фотоконкурс #ТеремокВкусно в Instagram
            p.sec-news__news-date
              | 29.11.2017
        li.sec-news__news-item
          article
            a(href="").sec-news__news-topic
              | Пресса о нас
            h3.sec-news__news-title
              a(href="") Секреты успешного предпринимательства от Михаила Гончарова
            p.sec-news__news-date
              | 29.11.2017
        li.sec-news__news-item
          article
            a(href="").sec-news__news-topic
              | Горячие блинновости
            h3.sec-news__news-title
              a(href="") Фотоконкурс #ТеремокВкусно в Instagram
            p.sec-news__news-date
              | 29.11.2017
        li.sec-news__news-item
          article
            a(href="").sec-news__news-topic
              | Пресса о нас
            h3.sec-news__news-title
              a(href="") «Теремок» в топ-50 лучших заведений Нью-Йорка!
            p.sec-news__news-date
              | 29.11.2017
        li.sec-news__news-item
          article
            a(href="").sec-news__news-topic
              | Горячие блинновости
            h3.sec-news__news-title
              a(href="") «Теремок» — убойная сила!
            p.sec-news__news-date
              | 29.11.2017
        li.sec-news__news-item
          article
            a(href="").sec-news__news-topic
              | Горячие блинновости
            h3.sec-news__news-title
              a(href="") Фотоконкурс #ТеремокВкусно в Instagram
            p.sec-news__news-date
              | 29.11.2017
        li.sec-news__news-item
          article
            a(href="").sec-news__news-topic
              | Пресса о нас
            h3.sec-news__news-title
              a(href="") «Теремок» в топ-50 лучших заведений Нью-Йорка!
            p.sec-news__news-date
              | 29.11.2017
        li.sec-news__news-item
          article
            a(href="").sec-news__news-topic
              | Горячие блинновости
            h3.sec-news__news-title
              a(href="") «Теремок» — убойная сила!
            p.sec-news__news-date
              | 29.11.2017
      a(href="").sec-news__link-to-all.button
        span Все события
        span Все события
  div.page__d-row
    div.sec-work-and-rest__wrapper
      section.sec-work-and-rest
        div.sec-work-and-rest__img.sec-work-and-rest__img--work
          div.sec-work-and-rest__header
            h2.sec-work-and-rest__title
              | Работа
            div.sec-work-and-rest__decor.sec-work-and-rest__decor--work
              div
            p.sec-work-and-rest__post-title
              | у нас
        div.sec-work-and-rest__content
          p.sec-work-and-rest__desc
            | Мы любим и уважаем наших сотрудников, а они в свою очередь ответственно относятся к своей работе, чтобы
            | ежедневно радовать наших гостей. Стань частью нашей команды, и получи бесценный опыт, с возможностью карьерного роста
          a(href="").button.button--yellow
            span Наши вакансии
            span Наши вакансии
    div.sec-work-and-rest__wrapper
      section.sec-work-and-rest
        div.sec-work-and-rest__img.sec-work-and-rest__img--rest
          div.sec-work-and-rest__header
            h2.sec-work-and-rest__title
              | Наши
            div.sec-work-and-rest__decor.sec-work-and-rest__decor--rest
              div
            p.sec-work-and-rest__post-title
              | теремки
        div.sec-work-and-rest__content
          p.sec-work-and-rest__desc
            | Компания "Теремок" основана в 1998 году. В настоящее время "Теремок" – крупнейшая сеть ресторанов русской
            | кухни, насчитывающая более 280 точек. Мы постоянно развиваемся, открывая новые рестораны.
          a(href="").button.button--yellow
            span Наши заведения
            span Наши заведения
  section.sec-partners
    div.sec-partners__container
      div.sec-partners__wrapper
        h2.sec-partners__title
          | Для партнеров
        p.sec-partners__desc
          | Наша компания всегда находится в поисках новых партнеров. Если у вас есть какое-то предложение мы готовы его
          | рассмотреть, и связаться с вами для дальнейшего обсуждения сотрудничества
        div.sec-partners__feedback
          a(href="").button.button--red
            span Стать партнером
            span Стать партнером
        div.sec-partners__slider-btn
          a(href="#").button.sec-partners__partners-btn
            span Партнеры
            span Партнеры
          a(href="#").button.button--border--none.sec-partners__suppliers-btn
            span Поставщики
            span Поставщики
      div.sec-partners__sliders
        div.swiper-container.sec-partners__sliders-wrapper
          div.swiper-wrapper
            div.swiper-slide.swiper-container.sec-partners__partners-slider
              div.swiper-wrapper
                - var n = 0;
                while n < 10
                  div.swiper-slide
                    div.swiper-slide__item
                  - n++;
            div.swiper-slide.swiper-container.sec-partners__suppliers-slider
              div.swiper-wrapper
                - var n = 0;
                  while n < 10
                    div.swiper-slide
                      div.swiper-slide__item
                    - n++;
        div.swiper-button-next
          div.arrow.arrow--right
        div.swiper-button-prev
          div.arrow.arrow--left

