extends ../pageTemplates/main.pug

block variables
  - var title = 'Теремок';
  - var faviconUrl = '';

block content
  section.sec-first
    video(preload="auto", autoplay="autoplay", muted="muted", loop="loop").sec-first__video
      source(src="/video/teremok_final.mp4", type="video/mp4")
    div.sec-first__content
      div.sec-first__title
        h1
          | «Теремок»
        p
          span это
        p
          | не фастфуд!
      p.sec-first__text
        | Мы придерживаемся современного улучшенного подхода  к быстрому питанию, в котором отменный вкус сочетается  с
        | высокой скоростью обслуживания
      a(href="#secondScreen").sec-first__scroll-down
    a(id="secondScreen").sec-first__end
  div.page__d-row
    section.sec-food-menu
      div.sec-food-menu__header
        h2.sec-food-menu__title
          | Наше меню
        a(href="").page__d-desctop.button
          span Купоны
          span Купоны
      ul.page__d-desctop.sec-food-menu__desctop-menu
        li.sec-food-menu__menu-item-wrapper
          div.sec-food-menu__menu-item.sec-food-menu__menu-item--home-dinners
            h3.sec-food-menu__menu-title
              a(href="") домашние обеды
            div.swiper-container
              div.swiper-wrapper
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4
              div.swiper-pagination
        li.sec-food-menu__menu-item-wrapper
          div.sec-food-menu__menu-item.sec-food-menu__menu-item--hearty-pancake
            h3.sec-food-menu__menu-title
              a(href="") блины сытные
            div.swiper-container
              div.swiper-wrapper
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4
              div.swiper-pagination




        li.sec-food-menu__menu-item-wrapper
          div.sec-food-menu__menu-item.sec-food-menu__menu-item--sweet-pancake
            h3.sec-food-menu__menu-title
              a(href="") блины сладкие
            div.swiper-container
              div.swiper-wrapper
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4
              div.swiper-pagination




        li.sec-food-menu__menu-item-wrapper
          div.sec-food-menu__menu-item.sec-food-menu__menu-item--soup
            h3.sec-food-menu__menu-title
              a(href="") супы
            div.swiper-container
              div.swiper-wrapper
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4
              div.swiper-pagination




        li.sec-food-menu__menu-item-wrapper
          div.sec-food-menu__menu-item.sec-food-menu__menu-item--garnish
            h3.sec-food-menu__menu-title
              a(href="") каши и гарниры
            div.swiper-container
              div.swiper-wrapper
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4
              div.swiper-pagination
        li.sec-food-menu__menu-item-wrapper
          div.sec-food-menu__menu-item.sec-food-menu__menu-item--salad
            h3.sec-food-menu__menu-title
              a(href="") салаты
            div.swiper-container
              div.swiper-wrapper
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4
              div.swiper-pagination
        li.sec-food-menu__menu-item-wrapper
          div.sec-food-menu__menu-item.sec-food-menu__menu-item--pelmeni
            h3.sec-food-menu__menu-title
              a(href="") пельмени
            div.swiper-container
              div.swiper-wrapper
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4
              div.swiper-pagination
        li.sec-food-menu__menu-item-wrapper
          div.sec-food-menu__menu-item.sec-food-menu__menu-item--cheesecake
            h3.sec-food-menu__menu-title
              a(href="") сырники
            div.swiper-container
              div.swiper-wrapper
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
                div.swiper-slide
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    div.sec-food-menu__menu-item-decor
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4
              div.swiper-pagination
      div.page__d-mobile.sec-food-menu__mobile-menu
        div.swiper-container.sec-food-menu__mobile-menu-nav
          div.swiper-wrapper
            div(data-menuSection = 'home-dinners').swiper-slide
              span домашние обеды
            div(data-menuSection = 'hearty-pancake').swiper-slide
              span блины сытные
            div(data-menuSection = 'sweet-pancake').swiper-slide
              span блины сладкие
            div(data-menuSection = 'soup').swiper-slide
              span супы
            div(data-menuSection = 'garnish').swiper-slide
              span каши и гарниры
            div(data-menuSection = 'salad').swiper-slide
              span салаты
            div(data-menuSection = 'pelmeni').swiper-slide
              span пельмени
            div(data-menuSection = 'cheesecake').swiper-slide
              span сырники
          div.swiper-button-prev
          div.swiper-button-next
          div.sec-food-menu__mobile-menu-line
        div.swiper-container.sec-food-menu__mobile-menu-slider
          div.swiper-wrapper
            each val in ['home-dinners', 'hearty-pancake', 'sweet-pancake', 'soup', 'garnish', 'salad', 'pelmeni', 'cheesecake']
              div.swiper-slide.sec-food-menu__menu-item-wrapper
                div(class='sec-food-menu__menu-item--' + val).sec-food-menu__menu-item
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    h4.sec-food-menu__menu-item-name
                      | Экономный
              div.swiper-slide.sec-food-menu__menu-item-wrapper
                div(class='sec-food-menu__menu-item--' + val).sec-food-menu__menu-item
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    h4.sec-food-menu__menu-item-name
                      | Экономный 1
              div.swiper-slide.sec-food-menu__menu-item-wrapper
                div(class='sec-food-menu__menu-item--' + val).sec-food-menu__menu-item
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    h4.sec-food-menu__menu-item-name
                      | Экономный 2
              div.swiper-slide.sec-food-menu__menu-item-wrapper
                div(class='sec-food-menu__menu-item--' + val).sec-food-menu__menu-item
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    h4.sec-food-menu__menu-item-name
                      | Экономный 3
              div.swiper-slide.sec-food-menu__menu-item-wrapper
                div(class='sec-food-menu__menu-item--' + val).sec-food-menu__menu-item
                  a(href="").sec-food-menu__menu-item-link
                    img(src="/img/product-252.png", alt="").sec-food-menu__menu-item-img
                    h4.sec-food-menu__menu-item-name
                      | Экономный 4

      div.page__d-mobile.sec-food-menu__link-block
        a(href="").button
          span Купоны
          span Купоны
        a(href="").button
          span Все меню
          span Все меню
      div.page__d-mobile.quality-feedback
        div.quality-feedback__wrapper
          div.quality-feedback__img
          div.quality-feedback__content
            p.quality-feedback__text
              | Помогите нам сделать наши теремки лучше!  Заходите на форум, и оставляйте ваши отзывы и пожелани
            a(href="").button.button--yellow
              span Оставить отзыв
              span Оставить отзыв
      div.swiper-container.sec-food-menu__banners
        div.swiper-wrapper
          div.swiper-slide.sec-food-menu__banner
            a(href="")
              img(src="/img/banner-816x342.png", alt="")
          div.swiper-slide.sec-food-menu__banner
            a(href="")
              img(src="/img/banner-816x342_v2.png", alt="")
          div.swiper-slide.sec-food-menu__banner
            a(href="")
              img(src="/img/banner-816x342.png", alt="")
          div.swiper-slide.sec-food-menu__banner
            a(href="")
              img(src="/img/banner-816x342_v2.png", alt="")
          div.swiper-slide.sec-food-menu__banner
            a(href="")
              img(src="/img/banner-816x342.png", alt="")
          div.swiper-slide.sec-food-menu__banner
            a(href="")
              img(src="/img/banner-816x342_v2.png", alt="")
        div.swiper-pagination
    div.sec-news__wrapper
      div.sec-news
        div.page__d-desctop.quality-feedback
          div.quality-feedback__wrapper
            div.quality-feedback__img
            div.quality-feedback__content
              p.quality-feedback__text
                | Помогите нам сделать наши теремки лучше!  Заходите на форум, и оставляйте ваши отзывы и пожелани
              a(href="").button.button--yellow
                span Оставить отзыв
                span Оставить отзыв
        ul.sec-news__news-list
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Новости
              h3.sec-news__news-title
                a(href="") Фотоконкурс #ТеремокВкусно в Instagram
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Пресса о нас
              h3.sec-news__news-title
                a(href="") Секреты успешного предпринимательства от Михаила Гончарова
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Горячие блинновости
              h3.sec-news__news-title
                a(href="") Фотоконкурс #ТеремокВкусно в Instagram
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Пресса о нас
              h3.sec-news__news-title
                a(href="") «Теремок» в топ-50 лучших заведений Нью-Йорка!
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Горячие блинновости
              h3.sec-news__news-title
                a(href="") «Теремок» — убойная сила!
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Горячие блинновости
              h3.sec-news__news-title
                a(href="") Фотоконкурс #ТеремокВкусно в Instagram
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Пресса о нас
              h3.sec-news__news-title
                a(href="") «Теремок» в топ-50 лучших заведений Нью-Йорка!
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Горячие блинновости
              h3.sec-news__news-title
                a(href="") «Теремок» — убойная сила!
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Новости
              h3.sec-news__news-title
                a(href="") Фотоконкурс #ТеремокВкусно в Instagram
              p.sec-news__news-date
                | 29.11.2017
          li.sec-news__news-item
            article
              a(href="").sec-news__news-topic
                | Пресса о нас
              h3.sec-news__news-title
                a(href="") Секреты успешного предпринимательства от Михаила Гончарова
              p.sec-news__news-date
                | 29.11.2017
        a(href="").button
          span Все события
          span Все события
  div.page__d-row
    div.sec-work-and-rest__wrapper
      section.sec-work-and-rest
        div.sec-work-and-rest__img.sec-work-and-rest__img--work
          div.sec-work-and-rest__header
            h2.sec-work-and-rest__title
              | Работа
            div.sec-work-and-rest__decor.sec-work-and-rest__decor--work
              div
            p.sec-work-and-rest__post-title
              | у нас
        div.sec-work-and-rest__content
          p.sec-work-and-rest__desc
            | Мы любим и уважаем наших сотрудников, а они в свою очередь ответственно относятся к своей работе, чтобы
            | ежедневно радовать наших гостей. Стань частью нашей команды, и получи бесценный опыт, с возможностью карьерного роста
          a(href="").button.button--yellow
            span Наши вакансии
            span Наши вакансии
    div.sec-work-and-rest__wrapper
      section.sec-work-and-rest
        div.sec-work-and-rest__img.sec-work-and-rest__img--rest
          div.sec-work-and-rest__header
            h2.sec-work-and-rest__title
              | Наши
            div.sec-work-and-rest__decor.sec-work-and-rest__decor--rest
              div
            p.sec-work-and-rest__post-title
              | теремки
        div.sec-work-and-rest__content
          p.sec-work-and-rest__desc
            | Компания "Теремок" основана в 1998 году. В настоящее время "Теремок" – крупнейшая сеть ресторанов русской
            | кухни, насчитывающая более 280 точек. Мы постоянно развиваемся, открывая новые рестораны.
          a(href="").button.button--yellow
            span Наши заведения
            span Наши заведения
  section.sec-partners
    div.sec-partners__container
      div.sec-partners__wrapper
        h2.sec-partners__title
          | Для партнеров
        p.sec-partners__desc
          | Наша компания всегда находится в поисках новых партнеров. Если у вас есть какое-то предложение мы готовы его
          | рассмотреть, и связаться с вами для дальнейшего обсуждения сотрудничества
        div.sec-partners__feedback
          a(href="").button.button--red
            span Стать партнером
            span Стать партнером
        div.sec-partners__slider-btn
          a(href="#").button.sec-partners__partners-btn
            span Партнеры
            span Партнеры
          a(href="#").button.button--border--none.sec-partners__suppliers-btn
            span Поставщики
            span Поставщики
      div.sec-partners__sliders
        div.swiper-container.sec-partners__sliders-wrapper
          div.swiper-wrapper
            div.swiper-slide.swiper-container.sec-partners__partners-slider
              div.swiper-wrapper
                - var n = 0;
                while n < 10
                  div(data-num=n).swiper-slide
                    div.swiper-slide__item
                  - n++;
            div.swiper-slide.swiper-container.sec-partners__suppliers-slider
              div.swiper-wrapper
                - var n = 0;
                  while n < 10
                    div.swiper-slide
                      div.swiper-slide__item
                    - n++;
        div.swiper-button-next
          div.arrow.arrow--right
        div.swiper-button-prev
          div.arrow.arrow--left

